$primary: #6750A4;
$secondary: #625B71;
$navbar-light-hover-color: $primary;
$tooltip-bg: $primary;
$tooltip-color: #ffffff;
$body-bg-dark: #09090B;
@import '../node_modules/bootstrap/scss/bootstrap.scss';